<div class="search-container">

  <form class="search-form">
    <mat-form-field class="text-search">
      <!-- <input matInput placeholder="Search" [formControl]="searchField" #box (keyup.enter)="onEnter(box.value)"> -->
      <input #box matInput placeholder="Search" (keyup.enter)="onEnter(box.value)">
      <mat-hint>
        Please type search phrase and press Enter
      </mat-hint>
    </mat-form-field>
  </form>

  <div class="loader-container">
    <div *ngIf="!isShowCleanMsg && isShowLoader;">
      <mat-spinner diameter="20"></mat-spinner>
    </div>
    <div *ngIf="isShowCleanMsg">
        <p class="mat-typography">There are no search results. Please type again.</p> 
    </div>
  </div>

  <app-search-result [searchResults]="searchResults$"></app-search-result>
</div>